################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnBlazor/.vs/LearnBlazor
/LearnBlazor/bin/Debug/net9.0
/LearnBlazor/.vs/ProjectEvaluation
/LearnBlazor/obj/Debug/net9.0/compressed
/LearnBlazor/obj/Debug/net9.0/ref/LearnBlazor.dll
/LearnBlazor/obj/Debug/net9.0/apphost.exe
/LearnBlazor/obj/Debug/net9.0/LearnBlazor.AssemblyInfo.cs
/LearnBlazor/obj/Debug/net9.0/LearnBlazor.AssemblyInfoInputs.cache
/LearnBlazor/obj/Debug/net9.0/LearnBlazor.dll
/LearnBlazor/obj/Debug/net9.0/LearnBlazor.GeneratedMSBuildEditorConfig.editorconfig
/LearnBlazor/obj/Debug/net9.0/LearnBlazor.pdb
/LearnBlazor/obj/Debug/net9.0/LearnBlazor.sourcelink.json
/LearnBlazor/obj/Debug/net9.0/refint/LearnBlazor.dll
